<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="The design system sponsored by Cisco Brand">
    <meta name="image" content="http://cisco-ui.cisco.com/assets/img/uikit-1200x630%402x.png">
    <meta itemprop="name" content="Cisco UI Kit">
    <meta itemprop="description" content="The design system sponsored by Cisco Brand">
    <meta itemprop="image" content="http://cisco-ui.cisco.com">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Cisco UI Kit">
    <meta name="twitter:description" content="The design system sponsored by Cisco Brand">
    <meta property="og:title" content="Cisco UI Kit">
    <meta property="og:description" content="The design system sponsored by Cisco Brand">
    <meta property="og:image" content="https://cisco-ui.cisco.com/assets/img/uikit-1200x630%402x.png">
    <meta property="og:url" content="http://cisco-ui.cisco.com">
    <meta property="og:site_name" content="Cisco UI Kit">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="application-name" content="Cisco UI Kit">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="img/mstile.png">
    <meta name="msapplication-square70x70logo" content="img/mstile.png">
    <meta name="msapplication-square150x150logo" content="img/mstile.png">
    <meta name="msapplication-wide310x150logo" content="img/mstile.png">
    <meta name="msapplication-square310x310logo" content="img/mstile.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>O365/Webex Meeting Invite</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/cui-standard.min.css') }}">
</head>
<body class="cui">
    <nav class="header" id="styleguideheader" role="navigation">
        <div class="container-fluid">
            <div class="header-panels">
                <div class="header-panel hidden-md-down">
                    <a class="header__logo" href="http://www.cisco.com" target="_blank">
                        <span class="icon-cisco"></span>
                    </a>
                    <h1 class="header__title">
                        <span>O365 Calendar incl. Webex Meeting Invite</span>
                    </h1>
                </div>
                <div class="header-panel header-panel--center base-margin-left base-margin-right hidden-lg-up">
                    <a class="header__logo" href="http://www.cisco.com" target="_blank">
                        <span class="icon-cisco"></span>
                    </a>
                </div>
                <div class="header-panel header-panel--right hidden-md-down">
                    <a href="/" class="header-item" title="UI Kit Home"><span class="icon-home"></span></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="content content--alt" style = "text-align: left">
        <div class="container-fluid">
            <div class="row">
                <!-- Left Rail -->
                <div class="col-xl-3"></div>

                <!-- Middle Rail -->
                <div class="col-xl-6">
                    <div class="section" >
                        <div class="panel panel--loose panel--raised base-margin-bottom">
                            <h6>Please enter the following meeting details to create an O365 calendar incl. Webex Meeting invite:</h6>
                            <div class="container">
                                <form action="{{ url_for('submit' ) }}" method="post">
                                    <div>
                                        <label for="owner">Meeting host/owner:</label>
                                        <select name="owner" id="owner" style="width:347px;"></select>
                                    </div>
                                    <div>
                                        <label for="title">Title:</label>
                                        <input type="text" id="title" name="title" style="position:relative;left:40px;width:409px;" required>
                                    </div>
                                    <div>
                                        <label for="agenda" style="vertical-align:top;">Agenda:</label>
                                        <textarea id="agenda" name="agenda" rows="4" cols="50" style="position:relative;left:17px;width:409px;"></textarea>
                                    </div>
                                    <div>
                                        <label for="date">Date:</label>
                                        <input type="date" id="date" name="date" required>
                                        <label for="starttime">From:</label>
                                        <input type="time" id="starttime" name="starttime" required>
                                        <label for="endtime">To:</label>
                                        <input type="time" id="endtime" name="endtime" required>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="repeatmeeting" name="repeatmeeting" onclick="repeat_meeting()">
                                        <label for="repeatmeeting">Repeat meeting?</label>
                                        <select name="pattern" id="pattern" style="display:none;">
                                            <option value="daily">daily</option>
                                            <option value="weekly">weekly</option>
                                            <option value="monthly">monthly</option>
                                            <option value="yearly">yearly</option>
                                        </select>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="notifyrecipients" name="notifyrecipients">
                                        <label for="recipients">Invite members of this group as <b>required</b> participants:</label>
                                        <select name="recipients" id="recipients" style="width:475px;"></select>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="notifyCCrecipients" name="notifyCCrecipients">
                                        <label for="CCrecipients">Invite members of this group as <b>optional</b> participants:</label>
                                        <select name="CCrecipients" id="CCrecipients" style="width:475px;"></select>
                                    </div>
                                    <button class="btn btn--secondary" id = "submit" type="submit" value="Submit">Submit</button>
                                </form>
                            </div>
                        </div>
                        <div class="panel panel--loose panel--raised base-margin-bottom"id="hello" style="display:none"></div>
                    </div>
                </div>

                <!-- Right Rail -->
                <div class="col-xl-3"></div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer__links">
                <ul class="list list--inline">
                    <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank">Contacts</a></li>
                    <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank">Feedback</a></li>
                    <li><a href="https://www.cisco.com/c/en/us/about/help.html" target="_blank">Help</a></li>

                    <li><a href="https://www.cisco.com/c/en/us/about/legal/terms-conditions.html" target="_blank">Terms & Conditions</a></li></li>
                    <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html" target="_blank">Privacy Statement</a></li>
                    <li><a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html#cookies" target="_blank">Cookie Policy</a></li>
                    <li><a href="https://www.cisco.com/c/en/us/about/legal/trademarks.html" target="_blank">Trademarks</a></li>
                </ul>
            </div>
        </footer>
    </div>
    <script>
        var groups_email_addresses = "";
        var groups_choice = {{ group_choice | tojson }};
        var x;
        for (x of groups_choice) {
            groups_email_addresses += "<option value=" + x + ">" + x + "</option>";
        }
        document.getElementById("recipients").innerHTML = groups_email_addresses;
        document.getElementById("CCrecipients").innerHTML = groups_email_addresses;

        var owner_names = "";
        var owner_choice = {{ owner_choice | tojson }};
        var y;
        var z;
        for (y of owner_choice) {
            z = y.replace(/\s/g, "");
            owner_names += "<option value=" + z + ">" + y + "</option>";
        }
        document.getElementById("owner").innerHTML = owner_names;


        if ({{ alert }} === 1) {
            alert("Your meeting has been scheduled.");
        } else if ({{ alert }} === 2) {
            alert("There was an error with the form. Please try again.");
        }

        function repeat_meeting() {
            var repeatmeeting_checkbox = document.getElementById("repeatmeeting");
            var pattern_select = document.getElementById("pattern");
            if (repeatmeeting_checkbox.checked == true) {
                pattern.style.display = "inline";
            } else {
                pattern.style.display = "none";
            }
        }
    </script>
</body>
</html>
